/* GO WILD AND BE CREATIVE! */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
    --white: #FFFFFF;
    --black: #000000;
    --orange: rgb(255,165,0);
    --gray:  rgb(39, 39, 39);
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

.container{
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 2px solid red; */
}

.main_container{
    background-image: linear-gradient(to left, orange 0%, orange 60%, black 50%, black 100%);
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.nav_bar{
    width: 100%;
    height: 70px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}



.nav_bar .logo{
    color: var(--orange);
}

.nav .logo{
    display: none;
}

.nav{
    z-index: 1;
}

.nav ul{
    display: flex;
}

.nav ul li a{
    color: var(--black);
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

.nav ul li a:hover{
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    padding: 3px 8px;
    z-index: 99;
}

.hamburger:hover{
    background-color: rgb(73, 72, 71, 0.3);
}

.hamburger div{
    width: 30px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
} 

.main_content{
    display: flex;
}

.main_content .main_text{
    color: var(--white);
    margin-top: 10rem;
}

.main_content h1{
    line-height: 4.5rem;
}

.main_text h1{
    font-size: 5.5rem;
}

.main_text h4{
    font-size: 2rem;
    color: rgb(167, 167, 167);
}
.main_content .main_text p{
    width: 25rem;
    margin-top: 3rem;
    font-size: 1.1rem;
}

.main_content .main_img{
    position: relative;
    left: 2rem;
    top: -12rem;
    z-index: 0;
}

.main_content .main_img img{
    width: 45rem;
}

/*About Me Section */

.aboutMe{
    height: 100vh;
    background-color: var(--gray);
    overflow: hidden;
}

.head_title{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2.5rem;
}

.portfolio .head_title{
    color: black;
}

.pics_container{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.pic_box{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color:var(--black);
    height: auto;
    /* overflow: hidden; */
    border: 8px solid transparent;
    border-image: linear-gradient(45deg,var(--gray),var(--gray),var(--orange),var(--gray),var(--gray));
    border-image-slice: 1;
}



.pic_box .pic_image{
    width: 100%;
    height: 15rem;
    max-height: 20rem;
    overflow: hidden;
}

.pic_box .pic_image img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.pic_box .pic_text{
    padding: 2rem;
    color: var(--white);
}

.pic_box .pic_text p{
    margin-top: 1.2rem;
    text-align: justify;
}




/* Portfolio Section */
.portfolio{
    height: auto;
    background-color: var(--white);
}

#portfolio{
    color: var(--black);
}

.portfolioContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.portfolioContainer .myDetails{
    padding: 1rem 3rem;
    border: 4px dotted var(--black);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5rem;
    width: 40%;
    height: 96vh;
    position: sticky;
    top: 1rem;
    text-align: justify;
    background-color: var(--black);
    color: var(--white);
}

.portfolioContainer .myDetails .ul__container{
    display: flex;
}

.portfolioContainer .myDetails .ul__container ul{
    flex-grow: 1;
    padding-left: 1em;
}

.portfolioContainer .myDetails .ul__container ul li{
    list-style-type: '\2705';
}


.portfolioContainer .projectsContainer{
    width: 60%;
    height: auto;
    padding: 0 0 2rem 2rem;
}

.portfolioContainer .projectsContainer .project{
    display: flex;
    flex-direction: column;
}

.projectsContainer .project .project__img{
    max-width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: .6rem;
}

.projectsContainer .project h3{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

.projectsContainer .project .project__img img{
    object-fit: cover;
    width: 100%;
}

.projectsContainer .project .project__text{
    padding-bottom: 1rem;
}

.project:not(:first-child){
    margin-top: 4rem;
}

.project .project__text{
    background-color: var(--gray);
    color: var(--white);
    padding: 1rem 2rem;
    text-align: justify;
}

/* Contact Section */

.contact{
    background-color: gainsboro;
    height: auto;
    padding: 1rem;
    margin-top: 4rem;
}

.contact .logo h1{
    display: flex;
    justify-content: center;
}

.contact ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.contact ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    gap: 1rem;
}

.contact ul li img{
    width: 3rem;
}















/*Media Queries for Responsive Styling */
@media (max-width: 1540px){
    .container{
        max-width: 1280px;
    }
}

@media (max-width: 1280px){
    .container{
        max-width: 1024px;
    }
    
    /* .nav_bar ul{
        margin-left: 10rem;
    } */

    .main_content .main_img{
        left: 0;
    }

    .aboutMe{
        height: auto;
    }

    .pic_box{
        margin-bottom: 4rem;

    }.portfolioContainer .myDetails{
        padding: 1rem 2rem;
        width: 50%;
        font-size: 1rem;
        line-height: 1.3rem;
    }
}

@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }

    /* .nav_bar ul{
        gap: 1rem;
    } */

    /* .nav_bar h1,
    .nav_bar ul li {
        white-space: nowrap;
    }


    .nav_bar ul li a{
        padding: 0.5rem 0.5rem;
    }
    
    .nav_bar ul li a:hover{
        padding: 0.5rem 0.5rem;
    } */

    .nav{
        position:absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: var(--white);
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0,0,0,0.2);
    }

    #nav_check:checked ~ .nav{
        left: 0;
    }

    .nav .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    .hamburger{
        display: block;
    }

    .main_content h1{
        line-height: 3.5rem;
    }
    
    .main_text h1{
        font-size: 3.5rem;
    }

    .main_text p{
        max-width: 18rem;
    }


    .main_content .main_img{
        left: -2rem;
    }

    .pic_box{
        margin-bottom: 3rem;
    }

    .pic_box .pic_image{
        width: 100%;
        max-height: 15rem;
        overflow: hidden;
    }
    
    .pic_box .pic_image img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .pic_box .pic_text p{
        font-size: 0.8rem;
    }
    
    .aboutMe{
        height: auto;
    }

    .portfolioContainer .myDetails{
        padding: 1rem 1.5rem;
        width: 50%;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 640px;
    }

    .main_content h1{
        line-height: 3.5rem;
    }
    
    .main_text h1{
        font-size: 3rem;
    }

    .main_content .main_img{
        left: -8rem;
    }

    .pic_box{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color:var(--black);
        height: auto;
        border: 8px solid transparent;
        margin-bottom: 2rem;
        border-image: linear-gradient(45deg,var(--gray),var(--gray),var(--orange),var(--gray),var(--gray));
        border-image-slice: 1;
    }

    .pics_container{
        flex-direction: column;
    }

    .pic_box .pic_image{
        width: 100%;
        max-height: 20rem;
        overflow: hidden;
    }
    
    .pic_box .pic_image img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .aboutMe{
        height: auto;
    }

    .portfolioContainer .myDetails{
        padding: 1rem 1.5rem;
        width: 50%;
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .contact ul li img{
        width: 2rem;
    }
}

@media (max-width: 640px){
    .container{
        max-width: 475px;
    }

    .main_content{
        flex-direction: column-reverse;

    }

    .main_content .main_img{
        position: relative;
        left: 1rem;
        top: -12rem;
        z-index: 0;
        height: 29rem;
        overflow: hidden;
    }
    
    .main_content .main_img img{
        width: 30rem;
    }

    .main_container{
        background-image: linear-gradient(to bottom, orange 0%, orange 60%, black 50%, black 100%);
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
    
    .main_content .main_text{
        color: var(--white);
        margin-top: -12rem;
        width: 100%;
        text-align: center;
        width: 200%;
        background-color: rgb(0, 0, 0);
        z-index: 2;
        padding-top: 3rem;
        padding-right: 1rem;
        position: relative;
        left: -14rem;
    }

    .main_content .main_text p{
        margin-top: 2rem;
        font-size: 1.1rem;
        max-width: 100%;
        margin: 1rem auto;
    }

    .main_content h1{
        line-height: 3.5rem;
    }
    
    .main_text h1{
        font-size: 2.5rem;
    }

    .main_container .container{
        padding: 0;
    }

    .pics_container{
        flex-direction: column;
    }

    .pic_box{
        flex-direction: column;
        width: 90%;
        margin: auto auto;
        margin-top: 1.5rem;
    }

    
    .pic_box .pic_image{
        height: 10rem;
    }
    
    
    .pic_box .pic_text p{
        font-size: 0.9rem;
    }

    .aboutMe{
        height: auto;
    }

    .pic_box:last-child{
        margin-bottom: 2rem;
    }

    
    .pic_box .pic_image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .pic_box:last-child .pic_image img{
        width: 100%;
        height: 220%;
    }

    .portfolioContainer{
        flex-direction: column;
    }

    .portfolioContainer .myDetails{
        position: static;
        width: 100%;
        height: auto;
        font-size: 0.9rem;
    }

    .portfolioContainer .projectsContainer{
        margin: 4rem 0;
        width: 100%;
        padding: 0;
    }

    .contact ul li img{
        width: 1.5rem;
    }

    .contact{
        margin-top: 1rem;
    }
}

@media (max-width: 475px){
    .container{
        max-width: 100%;
    }

    .main_content .main_text{
        position: static;
        width: 100%;
        padding: 0, 0.5rem;
        padding-left: 1rem;
        margin-top: -17rem;
    }

    .main_text h1{
        font-size: 2rem;
    }

    .main_content .main_img{
        position: relative;
        left: -2rem;
        top: -8rem;
        z-index: 0;
        height: 33.75rem;
        overflow: hidden;
    }
    .main_content .main_img img{
        width: 28rem;
    }

    .main_container .container{
        padding: 0;
    }


    .pics_container{
        flex-direction: column;
    }

    .pic_box{
        flex-direction: column;
        width: 90%;
        margin: auto auto;
        margin-top: 1.5rem;
    }
    
    
    
    .pic_box .pic_image{
        height: 10rem;
    }
    
    
    
    .pic_box .pic_text p{
        font-size: 0.7rem;
    }

    .aboutMe{
        height: auto;
    }

    .pic_box:last-child{
        margin-bottom: 2rem;
    }

    .portfolioContainer .myDetails{
        width: 90%;
        font-size: 0.8rem;
        line-height: 1rem;
        margin: auto;
        padding: 1rem 1.5rem;
    }

    .portfolioContainer .projectsContainer{
        margin: 4rem auto;
        width: 90%;
        padding: 0;
    }

    .project .project__text{
        font-size: 0.7rem;
    }

    .projectsContainer .project h3{
        font-size: 1.5rem;
    }

    .contact{
        margin-top: 1rem;
    }

    .contact ul li{
        width: 13rem;
        gap: 1rem;
        margin-top: -1rem;
    }
    
    .contact ul li img{
        width: 1.3rem;
    }
}

